@model IEnumerable<EasyGames.Models.OrderItem>

@{
    ViewData["Title"] = "Cart";
    var totalPrice = 0m;
}

<h1 class="text-center mb-5">My Cart</h1>

@{
    if (Model.Count() <= 0) 
    {
        <p class="fs-5 text-center">There are no items in your cart.</p>
        return;
    }
}

<div class="row">
    <p class="col-7 mb-0">Items</p>
    <p class="col-2 mb-0">Quantity</p>
    <p class="col-2 mb-0 text-end">Subtotal</p>
</div>
<hr class="mb-5">
@foreach (var orderItem in Model) {
    <div class="row align-items-center">
        <div class="col-2">
            <img src="~/images/image.jpg" class="img-fluid rounded" alt="" />
        </div>
        <div class="col-5">
            <a class="text-decoration-none text-dark" asp-controller="Home" asp-action="ItemDetails"  asp-route-id="@orderItem.InventoryId">
            <p>
                @(orderItem.Inventory.Item.ItemCategorys?.Any() == true
                ? string.Join(", ", orderItem.Inventory.Item.ItemCategorys
                    .Select(ic => ic.Category?.Name ?? ""))
                : "")
            </p>
            <h3>@orderItem.Inventory.Item.Name</h3>
            <p>AU$@orderItem.UnitPrice</p>
            </a>
        </div>
        <div class="col-2">
            <form asp-controller="" method="POST" class="">
                <input type="hidden" name="OrderItemId" value="@orderItem.OrderItemId" />
                <div class="flex-grow-1 mb-2">
                    <input type="number" class="form-control" name="quantity" value="@orderItem.Quantity" min="1" max="@orderItem.Inventory.Quantity">
                </div>
                <input type="submit" value="Change" formaction="/Cart/ChangeQuantity" class="btn btn-primary btn-sm" />
            </form>
        </div>
        @{totalPrice += orderItem.UnitPrice * orderItem.Quantity;}
        <p class="col-2 text-end">AU$@( orderItem.UnitPrice * orderItem.Quantity)</p>
        <div class="col-1">
            <form asp-controller="Cart" asp-action="RemoveItem" method="post" class="text-center">
                <input type="hidden" name="orderItemId" value="@orderItem.OrderItemId" />
                <button type="submit" class="btn btn-link p-0 text-danger border-0 shadow-none">
                    <i class="fa-solid fa-xmark pb-3"></i>
                </button>
            </form>
        </div>
    </div>
    <p class="text-danger fst-italic">@ViewData["OrderItemError"]</p>
    <hr class="mb-5 mt-5">
}

<div class="row">
    <div class="col-2"></div>
    <p class="fw-bold fs-5 col-7">Total</p>
    <p class="col-2 text-end fw-bold fs-5">AU$@totalPrice</p>
</div>

<div class="row">
    <div class="col-9"></div>
    <form asp-controller="Cart" asp-action="PlaceOrder" method="post" class="col-2 text-end">
        <input type="hidden" name="orderId" value="@ViewData["OrderId"]" />
        <button type="submit" class="btn btn-primary ps-4 pe-4 shadow-none">
            Place Order
        </button>
    </form>
</div>
