@model List<HomeItemCards>

@{
     ViewData["Title"] = "Shop";
}

<h2>@ViewData["Category"]</h2>

<div class="d-flex flex-wrap justify-content-between">
    @foreach (var item in Model) 
    {
        <div class="flex-fill" style="max-width: 25rem;">
            <a class="text-decoration-none text-dark" asp-controller="Home" asp-action="ItemDetails"  asp-route-id="@item.ItemId">
                <img src="~/images/image.jpg" class="img-fluid" alt="" />
                <h4>@item.Name</h4>
                <div class="d-flex gap-2">
                    <p class="flex-grow-1 lh-1">AU$@item.Price</p>
                    @if (@item.RatingCount > 0) 
                    {
                        <i class="fa-solid fa-star text-warning"></i>
                        <p class="gap-1 lh-1">@item.Rating</p>
                        <p class="gap-1 lh-1">(@item.RatingCount)</p>
                    }
                </div>
            </a>
        </div>
    }
</div>
