@model Dictionary<string, List<HomeItemCards>>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 text-center">Easy Games</h1>

@foreach(var keyVal in Model) 
{
    <div class="container pt-5">
        <div class="d-flex">
            <h2 class="flex-grow-1 mb-0">@keyVal.Key</h2>
            <a class="nav-link text-dark d-flex align-items-end" asp-controller="Home" asp-action="Category" asp-route-name="@keyVal.Key">See more</a>
        </div>
        <hr>

        <div class="row">
            @foreach(var item in keyVal.Value) {
            <div class="col-4">
                <a class="text-decoration-none text-dark" asp-controller="Home" asp-action="ItemDetails"  asp-route-id="@item.ItemId">
                    <img src="~/images/image.jpg" class="img-fluid" alt="" />
                    <h4>@item.Name</h4>
                    <div class="d-flex gap-2">
                        <p class="flex-grow-1 lh-1">AU$@item.Price</p>
                        @if (@item.RatingCount > 0) 
                        {
                            <i class="fa-solid fa-star text-warning"></i>
                            <p class="gap-1 lh-1">@item.Rating</p>
                            <p class="gap-1 lh-1">(@item.RatingCount)</p>
                        }
                    </div>
                </a>
            </div>
            }
        </div>
    </div>
}
