@model EasyGames.Models.Inventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />

    <table class="table table-borderless">
        <tr>
            <td class="px-0 col-sm-2 fw-bold">@Html.DisplayNameFor(model => model.Shop)</td>
            <td class="px-0">@Html.DisplayFor(model => model.Shop.ShopName)</td>
            <td class="px-0"><a asp-controller="Shop" asp-action="Details" asp-route-id="@Model.ShopId">Visit Shop</a></td>
        </tr>
        <tr>
            <td class="px-0 col-sm-2 fw-bold">@Html.DisplayNameFor(model => model.Item)</td>
            <td class="px-0">@Html.DisplayFor(model => model.Item.Name)</td>
            <td class="px-0"><a asp-controller="Item" asp-action="Details" asp-route-id="@Model.ItemId">Visit Item</a></td>
        </tr>
        <tr>
            <td class="px-0 col-sm-2 fw-bold">@Html.DisplayNameFor(model => model.Item.BuyPrice)</td>
            <td class="px-0">@Html.DisplayFor(model => model.Item.BuyPrice)</td>
        </tr>
        <tr>
            <td class="px-0 col-sm-2 fw-bold">@Html.DisplayNameFor(model => model.SellPrice)</td>
            <td class="px-0">@Html.DisplayFor(model => model.SellPrice)</td>
        </tr>
        <tr>
            <td class="px-0 col-sm-2 fw-bold">@Html.DisplayNameFor(model => model.Quantity)</td>
            <td class="px-0">@Html.DisplayFor(model => model.Quantity)</td>
        </tr>
    </table>
</div>
<div>
    <a asp-route-shopId="@Model.ShopId" asp-action="Edit" asp-route-id="@Model?.InventoryId">Edit</a> |
    <a asp-route-shopId="@Model.ShopId" asp-action="Index">Back to List</a>
</div>
