@model IEnumerable<EasyGames.Models.Inventory>

@{
    ViewData["Title"] = "Inventory List";
}

<h1>@ViewData["ShopName"] Inventory</h1>

<p>
    <a asp-route-shopId="@ViewData["ShopId"]" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-route-shopId="@item.ShopId" asp-action="Edit" asp-route-id="@item.InventoryId">Edit</a> |
                <a asp-route-shopId="@item.ShopId" asp-action="Details" asp-route-id="@item.InventoryId">Details</a> |
                <a asp-route-shopId="@item.ShopId" asp-action="Delete" asp-route-id="@item.InventoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Shop" asp-action="Index">Back to Shop List</a>
