@model IEnumerable<EasyGames.Models.ApplicationUser>

@{
    ViewData["Title"] = "User Management";
}

<h1>User Management</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@await Html.PartialAsync("_PageSizeSelector", ViewData["PageDetails"])

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>UserName</th>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td>@user.Id</td>
            <td>
                <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@await Html.PartialAsync("_MovePagePartial", ViewData["PageDetails"])
